
html{

    background-image: image("/Images/GifHubBackground.jpg");
}
a:link { font-size:14px;color:red; }
a:visited { font-size:15px; color:green;}
a:hover {font-size:16px;color:blue;}
a:active {font-size:17px;color:black;}

