<!DOCTYPE HTML>
<html>
<head>
    <a href="https://google.com" >Upload</a>
    <a href="localhost:8082/login"> | Login</a>

    <!--<link href="C:\Users\Kurtis Lloyd\GifHub\GifHub\GifHub\styles\style.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">

    <title>
       Hello! Welcome to GifHub!
    </title>
    <h1>
        Hello, {{Username}}!
    </h1>

    <h2>
        GifHub is a Hub where you can upload and share Gif after Gif!
    </h2>

    <body>
        <p>
            This is done in HTML using Mustache!
        </p>
           <p>
               Using Mustache can grab objects from my Java Program like this, I can get an id from Hibernate. {{id}}.
        </p>
    </body>
</head>
</html>
