<!DOCTYPE html>
<html lang="en">
<head>


<meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Login</title>
    <h1> Please Login: </h1>


</head>
<body>

<form>
    Username:<br>
    <input type="text" name="Username"><br>
    Password:
    <input type="text" name="Password"><br>

</form>
<button type="button"> Login!</button>



</body>
</html>