<title>
   Hello! Welcome to GifHub!
</title>
<h1>
    Hello, {{Username}}!
</h1>

<h2>
    GifHub is a Hub where you can upload and share Gif after Gif!
</h2>


    <p>
        This is done in HTML using Mustache!
    </p>
       <p>
           Using Mustache can grab objects from my Java Program like this, I can get an id from Hibernate. {{id}}.
    </p>


