<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

</head>
<header class="header">
    <img src="logo.png">

</header>

<body background="/GifHubBackground.jpg">

<div class="container">
         #parse( $template )
</div>

</body>
<section class ="footer" align="center" style="position: relative; bottom: 15px;">
<footer>
    <p style="color:white;"><strong>Copywrite @2015 by Michael Bench</strong>
    </p>
</footer>
</section>

</html>